mixin textfield( {action='#', method='post',isFocused=false,isMasked=false,isSubscription=false,isDefault=false,placeholder='default placeholder'}={})
  -
    var textfieldClassName = "text-field"
    textfieldClassName+=isFocused ? ' text-field_focused' : ''
    textfieldClassName+=isMasked ? ' text-field_masked' : ''
    textfieldClassName+=isSubscription ? ' text-field_subscription' : ''
    var inputClassName = ''
    inputClassName+=isMasked ? 'js-text-field__input-date text-field__input-date': ''
    var inputType=''
    inputType+=isFocused ? 'text' : ''
    inputType+=isDefault ? 'email' : ''
    inputType+=isMasked ? 'text' : ''
    inputType+=isSubscription ? 'email' : ''
  if isSubscription
    form(class=textfieldClassName action=action method=method)
      div(class='text-field__input-wrapper')
        input(type=inputType placeholder=placeholder class=inputClassName size='20')
        button(class='text-field__arrow' type='submit')='arrow_forward'
  else 
    div(class=textfieldClassName)
      div(class='text-field__input-wrapper')
        input(type=inputType placeholder=placeholder class=inputClassName size='20')
    
