include ../button-icon/button-icon.pug
mixin button( { variant = '', purpose = 'button', label = '', wide=false,slim=false,href='/mock-address/change-me', icon='arrow_forward',} = {})
  -
    let buttonClassName=`button button_${variant}`
    buttonClassName+=wide?'_wide':''
    buttonClassName+=slim?'_slim':''
  if variant==='arrow'
    +button-icon(icon, label)
  else if variant==='link'
    a(class=buttonClassName href=href)
      span.button__label=label
  else
    button(class=buttonClassName type=purpose)
      span.button__label=label