mixin button( { variant = '', purpose = 'button', label = '', wide=false,slim=false,href='/mock-address/change-me'} = {})
  - let buttonClassName=`button button_${variant}`
  if variant==='arrow'
    a(class=buttonClassName type=purpose)
      span.button__arrow-label=label
      span.button__arrow
        span.material-icons='arrow_forward'
  else if variant==='link'
    -
      buttonClassName+=wide?'_wide':''
      buttonClassName+=slim?'_slim':''
    a(class=buttonClassName href=href)
      span=label
  else
    button(class=buttonClassName type=purpose)
      span=label