include ../button-icon/button-icon.pug
mixin button( { variant = '', purpose = 'button', label = '', wide=false,slim=false,href='/mock-address/change-me', icon='arrow_forward',tag='button',color=''} = {})
  -
    let buttonClassName='button'
    buttonClassName+=wide?' button_size_wide':''
    buttonClassName+=slim?' button_size_slim':''
    color!==''? buttonClassName+=` button_color_${color}` : ''
  if variant==='icon'
    +button-icon({icon,label,tag})
  else if tag==='a'
    #{tag}(class=buttonClassName href=href)
      span.button__label=label
  else if tag==='button'
    #{tag}(class=buttonClassName type=purpose)
      span.button__label=label