mixin button( { variant = '', purpose = 'button', label = '', wide=false,slim=false,href='/mock-address/change-me', icon='arrow_forward',} = {})
  - let buttonClassName=`button button_${variant}`
  if variant==='arrow'
    button.button.button_with-icon(type=purpose)
      span.button__empty-elem
      span.button__icon-label
        span.button__label=label
      span.button__icon
        span.material-icons=icon
  else if variant==='link'
    -
      buttonClassName+=wide?' button_wide button_dark':''
      buttonClassName+=slim?' button_slim button_white':''
      buttonClassName+=!slim&&!wide?' button_white':''
    a(class=buttonClassName href=href)
      span.button__label=label
  else
    button(class=buttonClassName type=purpose)
      span.button__label=label