include diagram-chart.pug
mixin diagram(options)
  .diagram
    figure.diagram__chart
      +diagram-chart(options)
      .labels-diagram
        .labels-diargam__number=options.number
        .labels-diargam__label=options.label
      figcaption.diagram__description
        ul
          li.diagram__description-item.diagram__description-item_orange='Великолепно'
          li.diagram__description-item.diagram__description-item_green='Хорошо'
          li.diagram__description-item.diagram__description-item_blue='Удовлетворительно'
          li.diagram__description-item.diagram__description-item_black='Разочарован'