include diagram-chart.pug
mixin diagram(options)
  .diagram
    figure.diagram__chart
      +diagram-chart(options)
      .labels-diagram
        .labels-diagram__number=options.number
        .labels-diagram__label=options.label
      figcaption.diagram__description
        ul
          li.diagram__description-item.diagram__description-item_color_orange='Великолепно'
          li.diagram__description-item.diagram__description-item_color_green='Хорошо'
          li.diagram__description-item.diagram__description-item_color_blue='Удовлетворительно'
          li.diagram__description-item.diagram__description-item_color_black='Разочарован'