include ../button-check/button-check.pug
mixin list( {isExpand=false, label='', type='',labels=[],icon='',header='',text='', }={})
  - let listClassName='bullet-list'
  - const expandedListClassName=isExpand===true ? ' bullet-list_is-opened' : '' 
    if type==='expandable'
      - listClassName='js-bullet-list-expandable bullet-list-expandable'
    if type==='icons'
      - listClassName='bullet-list-icons'
    if type==='expandable'
      div(class=listClassName)
        .bullet-list-expandable__label=label
          span.material-icons.js-bullet-list-expandable__arrow=isExpand ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
        div(class=`bullet-list-expandable__dropdown js-bullet-list-expandable__dropdown 
        ${expandedListClassName}`)
          each val in labels ? labels : ['There are no values']
            .bullet-list-expandable__dropdown-elem
              +button-check({labels:[{text:val.text,isChecked:val.isChecked}]})
    else if type==='icons'
      div(class=listClassName)
        div(class='material-icons '+listClassName+'__icon')=icon
        div(class=listClassName+'__text-wrapper')
          h3(class=listClassName+'__header')=header
          p(class=listClassName+'__text')=text
    else
      div(class=listClassName)
        ul
          each val in labels ? labels : ['There are no values']
            li(class=listClassName+'__elem')=val