include ../button/button.pug
include ../dropdown/dropdown.pug
mixin roomprice( {roomType = '', roomNumber, priceHeader, units='  в сутки',price,  total, discount, fee, extraFee, totalPrice, } = {} )
    form(class='room-price')
      div(class='room-price__wrapper')
          div(class='room-price__room-specifications')
            div(class='room-price__number')
              span
                span='№  '
                span=roomNumber
            div(class='room-price__type')=roomType
            div(class='room-price__price')
              span
                span=priceHeader
                span=units
          div(class='room-price__dropdown-date')
              div(class='room-price__dropdown-date-header')
                h3(class='room-price__header room-price__dropdown-header')='прибытие'
                h3(class='room-price__header room-price__dropdown-header')='выезд'
              div(class='room-price__dropdown')
                +dropdown({placeholder:'ДД.ММ.ГГГГ',typeDropdown:'filter-date',isExpanded:false,id:'d3'})
          div(class='room-price__dropdown-guests')
            h3(class='room-price__header')='гости'
            +dropdown({
                      placeholder:"Сколько гостей",
                      typeDropdown:'guests',
                      isExpanded:false,
                      labels:[
                              {text:"взрослые",counterNumber:0},
                              {text:"дети",counterNumber:0},
                              {text:"младенцы",counterNumber:0},
                              ],
                      withButtons:true
                      })
          div(class='room-price__start-price')
            div=price
            div=total
          div(class='room-price__service-fee')
            div
              div=discount
              div(class='room-price__extra-info')='i'
            div=fee
          div(class='room-price__service-extra-fee')
            div
              h3='Сбор за дополнительные услуги'
              div(class='room-price__extra-info')='i'
            div=extraFee
          div(class='room-price__total-price')
            h3='Итого'
            div=totalPrice
          +button({
                  label:'забронировать',
                  type:'arrow',
                  purpose:'submit'
                  })
