include ../button/button.pug
include ../dropdown/dropdown.pug
mixin roomprice( {roomType = '', roomNumber, priceHeader, units='  в сутки',price,  total, discount, fee, extraFee, totalPrice, } = {} )
    form.room-price
      .room-price__wrapper
          .room-price__room-specifications
            .room-price__number
              span
                span='№  '
                span=roomNumber
            .room-price__type=roomType
            .room-price__price
              span
                span=priceHeader
                span=units
          .room-price__dropdown-date
              .room-price__dropdown-date-header
                h3.room-price__header.room-price__dropdown-header='прибытие'
                h3.room-price__header.room-price__dropdown-header='выезд'
              .room-price__dropdown
                +dropdown({placeholder:'ДД.ММ.ГГГГ',typeDropdown:'filter-date',isExpanded:false,id:'d3'})
          .room-price__dropdown-guests
            h3.room-price__header='гости'
            +dropdown({
                      placeholder:"Сколько гостей",
                      typeDropdown:'guests',
                      isExpanded:false,
                      labels:[
                              {text:"взрослые",counterNumber:0},
                              {text:"дети",counterNumber:0},
                              {text:"младенцы",counterNumber:0},
                              ],
                      withButtons:true
                      })
          .room-price__start-price
            div=price
            div=total
          .room-price__service-fee
            div
              div=discount
              .room-price__extra-info='i'
            div=fee
          .room-price__service-extra-fee
            div
              h3='Сбор за дополнительные услуги'
              div(class='room-price__extra-info')='i'
            div=extraFee
          .room-price__total-price
            h3='Итого'
            div=totalPrice
          +button({
                  label:'забронировать',
                  type:'arrow',
                  purpose:'submit'
                  })
