include ../button/button.pug
mixin roomcard(options)
  - var roomtype=options.roomType ? options.roomType : ''
    article(class='room-card')
      .room-card__wrapper
        div(class='room-card__img')
          img(src=options.imgSource, alt="room image")
          div(class='room-card__arrows')
            div(class='room-card__arrow room-card__arrow-left')='keyboard_arrow_left'
            div(class='room-card__arrow room-card__arrow-right')='keyboard_arrow_right'
          div(class='room-card__img-pagination')
            div(class='room-card__pagination room-card__pagination_active')
            div(class='room-card__pagination')
            div(class='room-card__pagination')
            div(class='room-card__pagination')
        div(class='room-card__room-specifications')
          div(class='room-card__number')
            span
              span='№  '
              span=options.roomNumber
          div(class='room-card__type')=roomtype
          div(class='room-card__price')
            span=options.price
            span='  в сутки'
        div(class='room-card__delimeter')
        div.room-card__bottom-line
          div(class='room-card__rate')
          +button({type:'rate',darkStar:options.rate})
          div(class='room-card__comment')
            span=options.commentNumber
            span=' Отзывов'