include ../button/button.pug
mixin roomcard( { imgSource = '',roomType = '', roomNumber = 0, price = 0, units = '  в сутки', commentNumber = 0, rate = 1, commentLabel=' Отзывов',withArrows = false,}={} )
    article(class='room-card')
        figure.room-card__slider.js-room-card__slider(class=withArrows?'room-card__slider_with-arrow':'')
          img(src=imgSource, class='room-card__img', alt="room image")
          img(src=imgSource, class='room-card__img', alt="room image")
          img(src=imgSource, class='room-card__img', alt="room image")
          img(src=imgSource, class='room-card__img', alt="room image")
        div(class='room-card__room-specifications')
          div(class='room-card__number')
            span
              span='№  '
              span=roomNumber
          div(class='room-card__type')=roomType
          div(class='room-card__price')
            span=price
            span=units
        div(class='room-card__delimeter')
        div.room-card__bottom-line
          div(class='room-card__rate')
            +button({type:'rate',darkStar:rate})
          div(class='room-card__comment')
            span=commentNumber
            span=commentLabel