mixin list-links({ links = [], isVertical = false,} = {})
  ul.list-links(class=isVertical?'list-links_vertical':'')
    each link in links
      li.list-links__link(class=link.isExpandable && 'list-links__link_is-expandable')
        a.list-links__ref(href=link.href class=link.isActive && 'list-links__ref_active')=link.text
        if link.isExpandable
          .list-links__arrow.js-list-links__arrow='keyboard_arrow_down'
          .list-links__sub-links
            each sublink in link.sublinks
              a.list-links__sub-ref(href=sublink.href)=sublink.text