mixin pagination( { selectedPage=1, firstNumbers=[],isEllipsis=false,lastNumber=2,label="add description" }={}  )
    .pagination
      .pagination_wrapper
        each val in firstNumbers
          if val===selectedPage
            .pagination__number.pagination__number_selected=val
          else
            .pagination__number=val
        if isEllipsis
          .pagination__ellipsis='...'
          .pagination__number=lastNumber
          .pagination__arrow='arrow_forward'
      span(class='pagination__label')=label  