include ../button-radio/button-radio.pug
include ../button-rate/button-rate.pug
include ../button-like/button-like.pug
include ../button-check/button-check.pug
mixin button( { darkStar = 1, lightStar, type = '', isChecked = false, isLiked = false, purpose = 'button', label = '', header = '', likeNumber = 0, text = '', labels = [], id, ref='/mock-address/change-me', wide=false,href='/mock-address/change-me'} = {})
  - let buttonClassName='button'
  - lightStar = 5 - darkStar
  - buttonClassName+=type==='arrow' ? ' button-with-arrow' : ''
  - buttonClassName+=type==='dark' ? ' button-dark' : ''
  - buttonClassName+=type==='dark50' ? ' button-dark50' : ''
  - buttonClassName+=type==='white' ? ' button-white' : ''
  - buttonClassName+=type==='white50' ? ' button-white50' : ''
  - buttonClassName+=type==='transparent' ? ' button-transparent' : ''
  - buttonClassName+=type==='transparent50' ? ' button-transparent50' : ''
  - buttonClassName+=type==='rich' ? ' button-rich' : ''
  - buttonClassName+=type==='radio' ? ' button-radio' : ''
  - buttonClassName+=type==='link' ? ' button-link button-common' : ''
    if type=='arrow'
      button(class=buttonClassName type=purpose)
        span(class='button-with-arrow__label')=label
        span(class='button-with-arrow__arr material-icons')='arrow_forward'
    else if type=='rate'
      +button-rate( { darkStar:darkStar, lightStar:lightStar } )
    else if type=='like'
      +button-like({ isLiked:isLiked, likeNumber:likeNumber })
    else if type=='check'
      +button-check({ labels:labels  })
    else if type=='rich'
      div(class=buttonClassName)
        label(class='button-rich__checkbox-label')
          if isChecked
            input(class='button-rich__checkbox-input' type='checkbox' checked)
            span(class='button-rich__checkbox-header')=header
            span(class='button-rich__checkbox-text')=label
          else
            input(class='button-rich__checkbox-input' type='checkbox')
            span(class='button-rich__checkbox-header')=header
            span(class='button-rich__checkbox-text')=label
    else if type=='radio'
      +button-radio({ label: label, isChecked: isChecked ,id:id})
    else if type=='link'
      a(class=buttonClassName,href=href)
        span=label
    else
      button(class=buttonClassName+' button-common' type=purpose)
        span=label