mixin button-radio({ name = 'button-radio' , id = 'button-radio-id' , label = 'radio-button', isChecked = false, } = {})
  div(class='button button-radio')
      if isChecked
        input(class='button-radio__input' value=id type='radio' id=id name=name checked)
        label(class='button-radio__label' for=id)=label
      else
        input(class='button-radio__input' type='radio' name=name id=id value=id)
        label(class='button-radio__label' for=id)=label