mixin button-radio({ name = 'button-radio' , id = 'button-radio-id' , label = 'radio-button', isChecked = false, } = {})
  .button.button-radio
    input(class='button-radio__input' value=id type='radio' id=id name=name checked=isChecked)
    label(class='button-radio__label' for=id)=label