include ../button/button.pug
include ../dropdown/dropdown.pug
include ../heading/heading.pug
mixin roomprice( {roomType = '', roomNumber, priceHeader, units='  в сутки',price,  total, discount, fee, extraFee, totalPrice, } = {} )
  form.room-price
    .room-price__wrapper
      .room-price__room-specifications
        .room-price__number
          span
            span='№  '
            span=roomNumber
        .room-price__type=roomType
        .room-price__price
          span
            span=priceHeader
            span=units
      .room-price__dropdown-date
          .room-price__dropdown-date-header
            .room-price__header.room-price__dropdown-header
              +heading({nestingLevel:'h3',text:'прибытие'})
            .room-price__header.room-price__dropdown-header
              +heading({nestingLevel:'h3',text:'выезд'})
          .room-price__dropdown
            +dropdown({placeholder:'ДД.ММ.ГГГГ',typeDropdown:'filter-date',isExpanded:false,id:'d3'})
      .room-price__dropdown-guests
        .room-price__header
          +heading({nestingLevel:'h3',text:'гости'})
        +dropdown({
                  placeholder:'Сколько гостей',
                  typeDropdown:'wide',
                  labels:[
                        {text:"взрослые",counterNumber:0,spellCases: ['гость', 'гостя', 'гостей']},
                        {text:"дети",counterNumber:0},
                        {text:"младенцы",counterNumber:0},
                      ],
                  })
      .room-price__start-price
        div=price
        div=total
      .room-price__service-fee
        div
          div=discount
          .room-price__extra-info='i'
        div=fee
      .room-price__service-extra-fee
        div
          h3='Сбор за дополнительные услуги'
          .room-price__extra-info='i'
        div=extraFee
      .room-price__total-price
        +heading({nestingLevel:'h2',text:'Итого'})
        div.room-price__total-price-delimeter
        div.room-price__total-price-number=totalPrice
      +button({
              label:'забронировать',
              variant:'icon',
              purpose:'submit'
              })
