mixin button(options)
 - var buttonClassName='button'
 - var darkStar= options.darkStar
 - var lightStar=5-darkStar
 - var isChecked=options.isChecked==='checked' ? 'checked' : ''
 - buttonClassName+=options.type==='arrow' ? ' button-with-arrow' : ''
 - buttonClassName+=options.type==='dark' ? ' button-dark' : ''
 - buttonClassName+=options.type==='dark50' ? ' button-dark50' : ''
 - buttonClassName+=options.type==='white' ? ' button-white' : ''
 - buttonClassName+=options.type==='white50' ? ' button-white50' : ''
 - buttonClassName+=options.type==='transparent' ? ' button-transparent' : ''
 - buttonClassName+=options.type==='transparent50' ? ' button-transparent50' : ''
 - buttonClassName+=options.type==='rate' ? ' button-rate' : ''
 - buttonClassName+=options.type==='like' ? ' button-like' : ''
 - buttonClassName+=options.isLiked ? ' button-like_is-liked' : ''
 - buttonClassName+=options.istype==='check' ? ' button-check' : ''
   if options.type=='arrow'
    button(class=buttonClassName)
     div=options.label
     div(class='button-with-arrow_arr')  <svg width="18" height="18" viewBox="0   0     18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z" fill="url(#paint0_linear)"/>
      <defs>
      <linearGradient id="paint0_linear" x1="9" y1="-13" x2="9" y2="31"     gradientUnits="userSpaceOnUse">
      <stop stop-color="#ffffff"/>
      <stop offset="1" stop-color="#ffffff"/>
      </linearGradient>
      </defs>
      </svg>
   else if options.type=='rate'
    div(class=buttonClassName)
      - var n=1
      while darkStar-- > 0
        input(class=buttonClassName+'__input' id='star-rating-'+n type='radio' name='rating')
        label(class='material-icons button-rate_star' for='star-rating-'+n title=n++ +" out of 5 stars")='star'
      while lightStar-- > 0
        input(class=buttonClassName+'__input' id='star-rating-'+n type='radio' name='rating')
        label(class='material-icons button-rate_star' for='star-rating-'+n title=n++ +" out of 5 stars")='star_border'
   else if options.type=='like'
    div(class=buttonClassName)
      if options.isLiked
        div(class='button-like__heart')='favorite'
        div=options.likeNumber
      else 
        div(class='button-like__heart')='favorite_border'
        div=options.likeNumber
   else if options.type=='check'
    input(type='checkbox' checked=isChecked)
    span=options.label
   else
    button(class=buttonClassName)
     span=options.label