mixin dropdown(options)
 -
  var dropDownClassName = ''
  var expandedCorners=''
  var isExpanded=options.isExpanded===true ? ' dropdown_active' : ''
  var typeDropdown = options.typeDropdown
  expandedCorners+=options.isExpanded&typeDropdown==='room' ? '  dropdown-input__room_rounding-corners-top ' : ''
  expandedCorners+=options.isExpanded&typeDropdown==='guests' ? '  dropdown-input__guests_rounding-corners-top ' : ''
  dropDownClassName+=typeDropdown==='guests' ? ' dropdown-input__guests' : ''
  dropDownClassName+=typeDropdown==='date' ? 'dropdown-input__date' : ''
  dropDownClassName+=typeDropdown==='filter' ? 'dropdown-input__filter' : ''
  dropDownClassName+=typeDropdown==='room' ? ' dropdown-input__room' : ''
 div(class= dropDownClassName+expandedCorners)
  div(class=dropDownClassName+'__wrapper')
    input(class=dropDownClassName+'_input-field' placeholder=options.placeholder type='text')
    div(class=dropDownClassName+'__arrow')='keyboard_arrow_down'
  case options.typeDropdown
    when 'guests'
      div(class = 'dropdown-guests'+isExpanded)
        div(class='dropdown-guests__adult') 
          div взрослые 
          div -
          div 0
          div +
        div(class='dropdown-guests__child')
          div дети
          div -
          div 0
          div +
        div(class='dropdown-guests__infant')
          div младенцы
          div -
          div 0
          div +
        div(class='dropdown-guests__apply-button')
          div(class= 'dropdown_button-hidden') очистить
          div применить
    when 'room'
        div(class='dropdown-room'+isExpanded)
          div(class='dropdown-room__bedroom') 
            div спальни
            div -
            div 2
            div +
          div(class='dropdown-room__bed')
            div кровати
            div -
            div 2
            div +
          div(class='dropdown-room__bath')
            div ванные комнаты
            div -
            div 0
            div +
