include button.pug
mixin list(options)
  - var listClassName='bullet-list'
  - var isExpandedList=options.isExpand===true ? ' bullet-list_show' : '' 
    if options.type==='expandable'
      - listClassName='bullet-list-expandable'
    if options.type==='icons'
      - listClassName='bullet-list-icons'
    if options.type==='expandable'
      div(class=listClassName)
        div(class=listClassName+'__label')=options.label
          span(class="material-icons")=isExpandedList ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
        div(class=listClassName+'__dropdown'+isExpandedList)
          each val in options.labels ? options.labels : ['There are no values']
            div(class=listClassName+'__dropdown-elem')
              +button({type:'check',labels:[{text:val.text,isChecked:val.isChecked}]})
    else if options.type==='icons'
      div(class=listClassName)
        div(class='material-icons '+listClassName+'__icon')=options.icon
        div(class=listClassName+'__text-wrapper')
          div(class=listClassName+'__header')=options.header
          div(class=listClassName+'__text')=options.text
    else
      div(class=listClassName)
        ul
        each val in options.labels ? options.labels : ['There are no values']
          li(class=listClassName+'__elem')= val

