mixin toggle(options)
 -
  var toggleClassName = options.className
 div(class=toggleClassName)
    span(class=toggleClassName+'__name')=options.name
    each val in options.labels
      if val.isPositive
        input(class=toggleClassName+'__input toggle_on' type='checkbox')
        span(class=toggleClassName+'__label')=val.label
      else
        input(class=toggleClassName+'__input toggle_off' type='checkbox')
        span(class=toggleClassName+'__label')=val.label
 script(src= "../src/scripts/toggle.js")
    
