mixin textfield( {action='#', method='post',isFocused=false,isMasked=false,isSubscription=false,isDefault=false,placeholder='default placeholder',isPassword = false,}={})
  -
    const textfieldClassName = `text-field
    ${isFocused ? ' text-field_focused' : ''} 
    ${isMasked ? ' text-field_masked' : ''}
    ${isSubscription ? ' text-field_subscription' : ''}`
    const inputClassName = `${isMasked ? 'js-text-field__input-date text-field__input-date': ''}`
    let inputType=''
    inputType+=isFocused ? 'text' : ''
    inputType+=isDefault ? 'email' : ''
    inputType+=isMasked ? 'text' : ''
    inputType+=isSubscription ? 'email' : ''
    inputType+=isPassword ? 'password' : ''
  if isSubscription
    form(class=textfieldClassName action=action method=method)
      .text-field__input-wrapper
        input(type=inputType placeholder=placeholder class=inputClassName size='20')
        button(class='text-field__arrow' type='submit')='arrow_forward'
  else 
    div(class=textfieldClassName)
      .text-field__input-wrapper
        input(type=inputType placeholder=placeholder class=inputClassName size='20')
    
